body{
    text-align: justify;
    background-color: black;
    color: white;
    
}

.h1{
    color: red;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 1200px;
    
}
.imagen{
    width: 600px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
    border: 5px solid red;

}
.parrafos{
    margin-left: 50px;
    color: white;
    width: 1200px;
    
}
.h2{
    color: gray;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 1200px;
}
.customlink{
    color: red;
}
