body{
    text-align: justify;
    background-color: black;
    color: white;
    
}

.titulo{
    color: yellow;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif
    
}
.imagen{
    width: 600px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
    border: 5px solid ;

}
.parrafos{
    margin-left: 50px;
    color: white;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif
    
}
.h2{
    color: white;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}
.customlink{
    color: red;
}
.negrita{
    color: yellow;
}
.crearcuenta{
    text-align: center;
    border: 3px solid white;
    border-radius: 13px;
    height: 25px;
    width: 150px;
    margin-top: 40px;
    background-color: #00aae4;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    
}
.h3{
    margin-left: 50px;
    color: white;
    width: 1200px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
 }
b{
    color: rgba(255, 255, 0, 0.897);
}