.titulo{
    color: red;
    width: 600px;
    margin-left: 50px;
    
}
body{
    text-align: justify;
    background-color: black;
    color: white;
    
}
.imagen{
    width: 400px;
    margin-left: 100px;
    height: 400px;


}
.otrafoto{
    display: flex;
    width: 400px;
    margin-left: 100px;
    height: 400px;
}
main{
    display: flex;
}