.titulo{
    color: #5ab1f4;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 1200px;
    
}
body{
    text-align: justify;
    background-color: #000000;
    color: white;
}
.imagen{
    width: 600px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
    border: 5px solid #5ab1f4;

}
.parrafos{
    margin-left: 50px;
    color: white;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif
    
}
a{
    color: #5ab1f4;
}
