.titulo{
    color: yellow;
    margin-left: 50px;
    
}
body{
    text-align: justify;
    background-color: #17517e;
    color: white;
}
.imagen{
    width: 600px;
    margin-left: 50px;
    justify-content: center;

}
.parrafos{
    margin-left: 50px;
    color: white;
    
}
